<a href="https://colab.research.google.com/github/MichaelAnth/ML-for-Digital-Advertising-Applications/blob/master/Python_Exercise_4_Census_Reporter_for_Geographic_Selection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Digital Advertising Python Exercise 4
### **Author:** Michael Anthony
### **Date:** December 2019
### **Objective:** Use the Census Reporter API to make geographic selections for areas with demographic features of interest for the marketing of Ozo coffee products.

# Document Setup and Loading Libraries

In [0]:
import pandas as pd
import pandas
# sklearn.cross_validation was not importing train_test_split so the model
# selection module is used instead
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LassoLarsCV
import matplotlib.pyplot as plt

# Import and View Data

In [0]:
# Load Data
DATA_URL = 'https://s3.amazonaws.com/vargo.aprd6342/data/msas.csv'
df = pd.read_csv(DATA_URL)
# view data frame
df.head()

    CBSA                         NAME  POPESTIMATE2017
0  10180                  Abilene, TX           170219
1  10420                    Akron, OH           703505
2  10500                   Albany, GA           151434
3  10540                   Albany, OR           125047
4  10580  Albany-Schenectady-Troy, NY           886188

Lets view the 10 US metro areas with the greatest population.

In [0]:
df.sort_values(by=['POPESTIMATE2017'],ascending=False).head(10)

      CBSA                                          NAME  POPESTIMATE2017
249  35620         New York-Newark-Jersey City, NY-NJ-PA         20320876
210  31080            Los Angeles-Long Beach-Anaheim, CA         13353907
68   16980            Chicago-Naperville-Elgin, IL-IN-WI          9533040
86   19100               Dallas-Fort Worth-Arlington, TX          7399662
159  26420          Houston-The Woodlands-Sugar Land, TX          6892427
363  47900  Washington-Arlington-Alexandria, DC-VA-MD-WV          6216589
225  33100     Miami-Fort Lauderdale-West Palm Beach, FL          6158824
269  37980   Philadelphia-Camden-Wilmington, PA-NJ-DE-MD          6096120
17   12060             Atlanta-Sandy Springs-Roswell, GA          5884736
42   14460                Boston-Cambridge-Newton, MA-NH          4836531

#Demographics of interest
Based on the market analysis we can draw a few key insights. The first is that high socio-economic status (SES) consumers particularly care about the taste of their coffee and are looking for superior taste when choosing to purchase premium brands. Although we can assume our Ozo coffee has a superior taste, the dominant diferentiator for Ozo is that it is organic. This quality is most appealing for the second highest income bracket in our analysis, **50-75k**. Hence, we should target cities where the proportion of the population in this income bracket is higher than in other cities.

Our product is organic and contains no artificial ingredients which are appealing qualities for **18-34** year old. Hence we should look for areas where the proportion of the population in the 18 to 34 age range is particularly high.

Next, we notice that these apeals to healthy and environmental friendly products are particularly relevant for hispanic populations, hence we may target cities where there is a particularly **large hispanic population**.

# Deterine the Target Tables
We must determine which data sets to pull from census reporter.
1. For the proportion of the population in each income bracket: Table **B19001**.
2. For a breakdown of population by age group: Table **B01001**
3. For the proportion of the population that is hispanic: Table **B03002**

In [0]:
tableids = ['B19001', 'B01001', 'B03002']

In [0]:
geoid = '31000US' + df['CBSA'].astype(str)
df['geoid'] = geoid
geoid=list(geoid)
print(geoid)

['31000US10180', '31000US10420', '31000US10500', '31000US10540', '31000US10580', '31000US10740', '31000US10780', '31000US10900', '31000US11020', '31000US11100', '31000US11180', '31000US11260', '31000US11460', '31000US11500', '31000US11540', '31000US11700', '31000US12020', '31000US12060', '31000US12100', '31000US12220', '31000US12260', '31000US12420', '31000US12540', '31000US12580', '31000US12620', '31000US12700', '31000US12940', '31000US12980', '31000US13020', '31000US13140', '31000US13220', '31000US13380', '31000US13460', '31000US13740', '31000US13780', '31000US13820', '31000US13900', '31000US13980', '31000US14010', '31000US14020', '31000US14100', '31000US14260', '31000US14460', '31000US14500', '31000US14540', '31000US14740', '31000US14860', '31000US15180', '31000US15260', '31000US15380', '31000US15500', '31000US15540', '31000US15680', '31000US15940', '31000US15980', '31000US16020', '31000US16060', '31000US16180', '31000US16220', '31000US16300', '31000US16540', '31000US16580', '31000US16620', '31000US16700', '31000US16740', '31000US16820', '31000US16860', '31000US16940', '31000US16980', '31000US17020', '31000US17140', '31000US17300', '31000US17420', '31000US17460', '31000US17660', '31000US17780', '31000US17820', '31000US17860', '31000US17900', '31000US17980', '31000US18020', '31000US18140', '31000US18580', '31000US18700', '31000US18880', '31000US19060', '31000US19100', '31000US19140', '31000US19180', '31000US19300', '31000US19340', '31000US19380', '31000US19460', '31000US19500', '31000US19660', '31000US19740', '31000US19780', '31000US19820', '31000US20020', '31000US20100', '31000US20220', '31000US20260', '31000US20500', '31000US20700', '31000US20740', '31000US20940', '31000US21060', '31000US21140', '31000US21300', '31000US21340', '31000US21420', '31000US21500', '31000US21660', '31000US21780', '31000US21820', '31000US22020', '31000US22140', '31000US22180', '31000US22220', '31000US22380', '31000US22420', '31000US22500', '31000US22520', '31000US22540', '31000US22660', '31000US22900', '31000US23060', '31000US23420', '31000US23460', '31000US23540', '31000US23580', '31000US23900', '31000US24020', '31000US24140', '31000US24220', '31000US24260', '31000US24300', '31000US24340', '31000US24420', '31000US24500', '31000US24540', '31000US24580', '31000US24660', '31000US24780', '31000US24860', '31000US25060', '31000US25180', '31000US25220', '31000US25260', '31000US25420', '31000US25500', '31000US25540', '31000US25620', '31000US25860', '31000US25940', '31000US25980', '31000US26140', '31000US26300', '31000US26380', '31000US26420', '31000US26580', '31000US26620', '31000US26820', '31000US26900', '31000US26980', '31000US27060', '31000US27100', '31000US27140', '31000US27180', '31000US27260', '31000US27340', '31000US27500', '31000US27620', '31000US27740', '31000US27780', '31000US27860', '31000US27900', '31000US27980', '31000US28020', '31000US28100', '31000US28140', '31000US28420', '31000US28660', '31000US28700', '31000US28740', '31000US28940', '31000US29020', '31000US29100', '31000US29180', '31000US29200', '31000US29340', '31000US29420', '31000US29460', '31000US29540', '31000US29620', '31000US29700', '31000US29740', '31000US29820', '31000US29940', '31000US30020', '31000US30140', '31000US30300', '31000US30340', '31000US30460', '31000US30620', '31000US30700', '31000US30780', '31000US30860', '31000US30980', '31000US31020', '31000US31080', '31000US31140', '31000US31180', '31000US31340', '31000US31420', '31000US31460', '31000US31540', '31000US31700', '31000US31740', '31000US31860', '31000US31900', '31000US32580', '31000US32780', '31000US32820', '31000US32900', '31000US33100', '31000US33140', '31000US33220', '31000US33260', '31000US33340', '31000US33460', '31000US33540', '31000US33660', '31000US33700', '31000US33740', '31000US33780', '31000US33860', '31000US34060', '31000US34100', '31000US34580', '31000US34620', '31000US34740', '31000US34820', '31000US34900', '31000US34940', '31000US34980', '31000US35100', '31000US35300', '31000US35380', '31000US35620', '31000US35660', '31000US35840', '31000US35980', '31000US36100', '31000US36140', '31000US36220', '31000US36260', '31000US36420', '31000US36500', '31000US36540', '31000US36740', '31000US36780', '31000US36980', '31000US37100', '31000US37340', '31000US37460', '31000US37620', '31000US37860', '31000US37900', '31000US37980', '31000US38060', '31000US38220', '31000US38300', '31000US38340', '31000US38540', '31000US38860', '31000US38900', '31000US38940', '31000US39140', '31000US39300', '31000US39340', '31000US39380', '31000US39460', '31000US39540', '31000US39580', '31000US39660', '31000US39740', '31000US39820', '31000US39900', '31000US40060', '31000US40140', '31000US40220', '31000US40340', '31000US40380', '31000US40420', '31000US40580', '31000US40660', '31000US40900', '31000US40980', '31000US41060', '31000US41100', '31000US41140', '31000US41180', '31000US41420', '31000US41500', '31000US41540', '31000US41620', '31000US41660', '31000US41700', '31000US41740', '31000US41860', '31000US41940', '31000US42020', '31000US42100', '31000US42140', '31000US42200', '31000US42220', '31000US42340', '31000US42540', '31000US42660', '31000US42680', '31000US42700', '31000US43100', '31000US43300', '31000US43340', '31000US43420', '31000US43580', '31000US43620', '31000US43780', '31000US43900', '31000US44060', '31000US44100', '31000US44140', '31000US44180', '31000US44220', '31000US44300', '31000US44420', '31000US44700', '31000US44940', '31000US45060', '31000US45220', '31000US45300', '31000US45460', '31000US45500', '31000US45540', '31000US45780', '31000US45820', '31000US45940', '31000US46060', '31000US46140', '31000US46220', '31000US46340', '31000US46520', '31000US46540', '31000US46660', '31000US46700', '31000US47020', '31000US47220', '31000US47260', '31000US47300', '31000US47380', '31000US47460', '31000US47580', '31000US47900', '31000US47940', '31000US48060', '31000US48140', '31000US48260', '31000US48300', '31000US48540', '31000US48620', '31000US48660', '31000US48700', '31000US48900', '31000US49020', '31000US49180', '31000US49340', '31000US49420', '31000US49620', '31000US49660', '31000US49700', '31000US49740']

In [0]:
## get the data for each parameter of interest as a separate url
# url_list=[]
# for i in tableids:
#     for j in geoid:
#         tablestring=str(i)
#         geographytag=str(j)
#         requesturl = 'https://api.censusreporter.org/1.0/data/show/latest?table_ids=%s&geo_ids=310|01000US' % (tablestring, geographytag)
#         url_list.append(requesturl)
# print(url_list)

In [0]:
# Or we can get the data for all our paramaters with one url
concat_tableid_string = ','.join(tableids)
requested_url = 'https://api.censusreporter.org/1.0/data/show/latest?table_ids=%s&geo_ids=310|01000US' % concat_tableid_string
print(requested_url)

https://api.censusreporter.org/1.0/data/show/latest?table_ids=B19001,B01001,B03002&geo_ids=310|01000US

In [0]:
import requests 
import json
loadedjson = requests.get(requested_url)
parsedjson = loadedjson.json()

In [0]:
#view the keys of the json dictionary to see how the data is organized
parsedjson.keys()

dict_keys(['release', 'tables', 'data', 'geography'])

In [0]:
## View the structure of the dictionary to find the nessesary values
#parsedjson

In [0]:
# print(parsedjson['31000US10180'])
print(parsedjson.get('tables')['B03002'])
# print(parsedjson.get('data')['estimate'])
parsedjson['data']['31000US10180']['B01001']['estimate']['B01001001']

{'title': 'Hispanic or Latino Origin by Race', 'universe': 'Total Population', 'denominator_column_id': 'B03002001', 'columns': {'B03002001': {'name': 'Total:', 'indent': 0}, 'B03002002': {'name': 'Not Hispanic or Latino:', 'indent': 1}, 'B03002003': {'name': 'White alone', 'indent': 2}, 'B03002004': {'name': 'Black or African American alone', 'indent': 2}, 'B03002005': {'name': 'American Indian and Alaska Native alone', 'indent': 2}, 'B03002006': {'name': 'Asian alone', 'indent': 2}, 'B03002007': {'name': 'Native Hawaiian and Other Pacific Islander alone', 'indent': 2}, 'B03002008': {'name': 'Some other race alone', 'indent': 2}, 'B03002009': {'name': 'Two or more races:', 'indent': 2}, 'B03002010': {'name': 'Two races including Some other race', 'indent': 3}, 'B03002011': {'name': 'Two races excluding Some other race, and three or more races', 'indent': 3}, 'B03002012': {'name': 'Hispanic or Latino:', 'indent': 1}, 'B03002013': {'name': 'White alone', 'indent': 2}, 'B03002014': {'name': 'Black or African American alone', 'indent': 2}, 'B03002015': {'name': 'American Indian and Alaska Native alone', 'indent': 2}, 'B03002016': {'name': 'Asian alone', 'indent': 2}, 'B03002017': {'name': 'Native Hawaiian and Other Pacific Islander alone', 'indent': 2}, 'B03002018': {'name': 'Some other race alone', 'indent': 2}, 'B03002019': {'name': 'Two or more races:', 'indent': 2}, 'B03002020': {'name': 'Two races including Some other race', 'indent': 3}, 'B03002021': {'name': 'Two races excluding Some other race, and three or more races', 'indent': 3}}}

169000.0

#Variables of interest

1. income: **50-75k**. 

2. age: **18-34**

3. ethnicity: **large hispanic population**.


To find the city with the largest total target population, we want to take the sum of the sub populations of interest and find the city with the largest in market audience. We begin by identify the tables containing the subpopulation data we are interested in aggregating.

In [0]:
# population size by Age tables:
    #male
    # 'B01001007': {'indent': 2, 'name': '18 and 19 years'},
    # 'B01001008': {'indent': 2, 'name': '20 years'},
    # 'B01001009': {'indent': 2, 'name': '21 years'},
    # 'B01001010': {'indent': 2, 'name': '22 to 24 years'},
    # 'B01001011': {'indent': 2, 'name': '25 to 29 years'},
    # 'B01001012': {'indent': 2, 'name': '30 to 34 years'},
    #female
    # 'B01001031': {'indent': 2, 'name': '18 and 19 years'},
    # 'B01001032': {'indent': 2, 'name': '20 years'},
    # 'B01001033': {'indent': 2, 'name': '21 years'},
    # 'B01001034': {'indent': 2, 'name': '22 to 24 years'},
    # 'B01001035': {'indent': 2, 'name': '25 to 29 years'},
    # 'B01001036': {'indent': 2, 'name': '30 to 34 years'},
# Hispanic Population Size 
    # 'B03002012': {'indent': 1, 'name': 'Hispanic or Latino:'}
# Population size by Income Bracket
    # 'B19001011': {'indent': 1, 'name': '$50,000 to $59,999'},
    # 'B19001012': {'indent': 1, 'name': '$60,000 to $74,999'},

In [0]:
# initialize variables
income_list=[]
income_target_pop_size=0

age_list=[]
age_target_pop_size=0

hispanic_list=[]
hispanic_pop_target_size=0

metro_area_name_list=[]
metro_area_total_population=[]

#iterate through geoids and sum populations of interest.
for i in geoid:
    #record metro area name in a list
    metro_area_name_list.append(parsedjson['geography'][i]['name'])
    # aggregate age data by geoid
    age_target_pop_size=0
    for j in range(6):
        age_target_pop_size+=( #male tables
            parsedjson['data'][i]['B01001']['estimate']['B01001007']+
            parsedjson['data'][i]['B01001']['estimate']['B01001008']+
            parsedjson['data'][i]['B01001']['estimate']['B01001008']+
            parsedjson['data'][i]['B01001']['estimate']['B01001009']+
            parsedjson['data'][i]['B01001']['estimate']['B01001010']+
            parsedjson['data'][i]['B01001']['estimate']['B01001011']+
            parsedjson['data'][i]['B01001']['estimate']['B01001012']+
            # female tables 
            parsedjson['data'][i]['B01001']['estimate']['%s'%('B010010'+str(31+j))]
            )
    age_list.append(age_target_pop_size)

    # aggregate hispanic population data by geoid
    hispanic_pop_target_size=(
        parsedjson['data'][i]['B03002']['estimate']['B03002012']
        )
    hispanic_list.append(hispanic_pop_target_size)
    hispanic_pop_target_size=0

    # aggregate income bracket population data by geoid
    income_target_pop_size=(
        parsedjson['data'][i]['B19001']['estimate']['B19001011']+
        parsedjson['data'][i]['B19001']['estimate']['B19001012']
        )
    income_list.append(income_target_pop_size)
    income_target_pop_size=0

    #Add the metro area toal population to the list
    metro_area_total_population.append(parsedjson['data'][i]['B01001']['estimate']['B01001001'])

print(metro_area_name_list)
print(age_list)
print(hispanic_list)
print(income_list) 
print(metro_area_total_population)

['Abilene, TX Metro Area', 'Akron, OH Metro Area', 'Albany, GA Metro Area', 'Albany, OR Metro Area', 'Albany-Schenectady-Troy, NY Metro Area', 'Albuquerque, NM Metro Area', 'Alexandria, LA Metro Area', 'Allentown-Bethlehem-Easton, PA-NJ Metro Area', 'Altoona, PA Metro Area', 'Amarillo, TX Metro Area', 'Ames, IA Metro Area', 'Anchorage, AK Metro Area', 'Ann Arbor, MI Metro Area', 'Anniston-Oxford-Jacksonville, AL Metro Area', 'Appleton, WI Metro Area', 'Asheville, NC Metro Area', 'Athens-Clarke County, GA Metro Area', 'Atlanta-Sandy Springs-Roswell, GA Metro Area', 'Atlantic City-Hammonton, NJ Metro Area', 'Auburn-Opelika, AL Metro Area', 'Augusta-Richmond County, GA-SC Metro Area', 'Austin-Round Rock, TX Metro Area', 'Bakersfield, CA Metro Area', 'Baltimore-Columbia-Towson, MD Metro Area', 'Bangor, ME Metro Area', 'Barnstable Town, MA Metro Area', 'Baton Rouge, LA Metro Area', 'Battle Creek, MI Metro Area', 'Bay City, MI Metro Area', 'Beaumont-Port Arthur, TX Metro Area', 'Beckley, WV Metro Area', 'Bellingham, WA Metro Area', 'Bend-Redmond, OR Metro Area', 'Billings, MT Metro Area', 'Binghamton, NY Metro Area', 'Birmingham-Hoover, AL Metro Area', 'Bismarck, ND Metro Area', 'Blacksburg-Christiansburg-Radford, VA Metro Area', 'Bloomington, IL Metro Area', 'Bloomington, IN Metro Area', 'Bloomsburg-Berwick, PA Metro Area', 'Boise City, ID Metro Area', 'Boston-Cambridge-Newton, MA-NH Metro Area', 'Boulder, CO Metro Area', 'Bowling Green, KY Metro Area', 'Bremerton-Silverdale, WA Metro Area', 'Bridgeport-Stamford-Norwalk, CT Metro Area', 'Brownsville-Harlingen, TX Metro Area', 'Brunswick, GA Metro Area', 'Buffalo-Cheektowaga-Niagara Falls, NY Metro Area', 'Burlington, NC Metro Area', 'Burlington-South Burlington, VT Metro Area', 'California-Lexington Park, MD Metro Area', 'Canton-Massillon, OH Metro Area', 'Cape Coral-Fort Myers, FL Metro Area', 'Cape Girardeau, MO-IL Metro Area', 'Carbondale-Marion, IL Metro Area', 'Carson City, NV Metro Area', 'Casper, WY Metro Area', 'Cedar Rapids, IA Metro Area', 'Chambersburg-Waynesboro, PA Metro Area', 'Champaign-Urbana, IL Metro Area', 'Charleston, WV Metro Area', 'Charleston-North Charleston, SC Metro Area', 'Charlotte-Concord-Gastonia, NC-SC Metro Area', 'Charlottesville, VA Metro Area', 'Chattanooga, TN-GA Metro Area', 'Cheyenne, WY Metro Area', 'Chicago-Naperville-Elgin, IL-IN-WI Metro Area', 'Chico, CA Metro Area', 'Cincinnati, OH-KY-IN Metro Area', 'Clarksville, TN-KY Metro Area', 'Cleveland, TN Metro Area', 'Cleveland-Elyria, OH Metro Area', "Coeur d'Alene, ID Metro Area", 'College Station-Bryan, TX Metro Area', 'Colorado Springs, CO Metro Area', 'Columbia, MO Metro Area', 'Columbia, SC Metro Area', 'Columbus, GA-AL Metro Area', 'Columbus, IN Metro Area', 'Columbus, OH Metro Area', 'Corpus Christi, TX Metro Area', 'Corvallis, OR Metro Area', 'Crestview-Fort Walton Beach-Destin, FL Metro Area', 'Cumberland, MD-WV Metro Area', 'Dallas-Fort Worth-Arlington, TX Metro Area', 'Dalton, GA Metro Area', 'Danville, IL Metro Area', 'Daphne-Fairhope-Foley, AL Metro Area', 'Davenport-Moline-Rock Island, IA-IL Metro Area', 'Dayton, OH Metro Area', 'Decatur, AL Metro Area', 'Decatur, IL Metro Area', 'Deltona-Daytona Beach-Ormond Beach, FL Metro Area', 'Denver-Aurora-Lakewood, CO Metro Area', 'Des Moines-West Des Moines, IA Metro Area', 'Detroit-Warren-Dearborn, MI Metro Area', 'Dothan, AL Metro Area', 'Dover, DE Metro Area', 'Dubuque, IA Metro Area', 'Duluth, MN-WI Metro Area', 'Durham-Chapel Hill, NC Metro Area', 'East Stroudsburg, PA Metro Area', 'Eau Claire, WI Metro Area', 'El Centro, CA Metro Area', 'Elizabethtown-Fort Knox, KY Metro Area', 'Elkhart-Goshen, IN Metro Area', 'Elmira, NY Metro Area', 'El Paso, TX Metro Area', 'Enid, OK Metro Area', 'Erie, PA Metro Area', 'Eugene, OR Metro Area', 'Evansville, IN-KY Metro Area', 'Fairbanks, AK Metro Area', 'Fargo, ND-MN Metro Area', 'Farmington, NM Metro Area', 'Fayetteville, NC Metro Area', 'Fayetteville-Springdale-Rogers, AR-MO Metro Area', 'Flagstaff, AZ Metro Area', 'Flint, MI Metro Area', 'Florence, SC Metro Area', 'Florence-Muscle Shoals, AL Metro Area', 'Fond du Lac, WI Metro Area', 'Fort Collins, CO Metro Area', 'Fort Smith, AR-OK Metro Area', 'Fort Wayne, IN Metro Area', 'Fresno, CA Metro Area', 'Gadsden, AL Metro Area', 'Gainesville, FL Metro Area', 'Gainesville, GA Metro Area', 'Gettysburg, PA Metro Area', 'Glens Falls, NY Metro Area', 'Goldsboro, NC Metro Area', 'Grand Forks, ND-MN Metro Area', 'Grand Island, NE Metro Area', 'Grand Junction, CO Metro Area', 'Grand Rapids-Wyoming, MI Metro Area', 'Grants Pass, OR Metro Area', 'Great Falls, MT Metro Area', 'Greeley, CO Metro Area', 'Green Bay, WI Metro Area', 'Greensboro-High Point, NC Metro Area', 'Greenville, NC Metro Area', 'Greenville-Anderson-Mauldin, SC Metro Area', 'Gulfport-Biloxi-Pascagoula, MS Metro Area', 'Hagerstown-Martinsburg, MD-WV Metro Area', 'Hammond, LA Metro Area', 'Hanford-Corcoran, CA Metro Area', 'Harrisburg-Carlisle, PA Metro Area', 'Harrisonburg, VA Metro Area', 'Hartford-West Hartford-East Hartford, CT Metro Area', 'Hattiesburg, MS Metro Area', 'Hickory-Lenoir-Morganton, NC Metro Area', 'Hilton Head Island-Bluffton-Beaufort, SC Metro Area', 'Hinesville, GA Metro Area', 'Homosassa Springs, FL Metro Area', 'Hot Springs, AR Metro Area', 'Houma-Thibodaux, LA Metro Area', 'Houston-The Woodlands-Sugar Land, TX Metro Area', 'Huntington-Ashland, WV-KY-OH Metro Area', 'Huntsville, AL Metro Area', 'Idaho Falls, ID Metro Area', 'Indianapolis-Carmel-Anderson, IN Metro Area', 'Iowa City, IA Metro Area', 'Ithaca, NY Metro Area', 'Jackson, MI Metro Area', 'Jackson, MS Metro Area', 'Jackson, TN Metro Area', 'Jacksonville, FL Metro Area', 'Jacksonville, NC Metro Area', 'Janesville-Beloit, WI Metro Area', 'Jefferson City, MO Metro Area', 'Johnson City, TN Metro Area', 'Johnstown, PA Metro Area', 'Jonesboro, AR Metro Area', 'Joplin, MO Metro Area', 'Kahului-Wailuku-Lahaina, HI Metro Area', 'Kalamazoo-Portage, MI Metro Area', 'Kankakee, IL Metro Area', 'Kansas City, MO-KS Metro Area', 'Kennewick-Richland, WA Metro Area', 'Killeen-Temple, TX Metro Area', 'Kingsport-Bristol-Bristol, TN-VA Metro Area', 'Kingston, NY Metro Area', 'Knoxville, TN Metro Area', 'Kokomo, IN Metro Area', 'La Crosse-Onalaska, WI-MN Metro Area', 'Lafayette, LA Metro Area', 'Lafayette-West Lafayette, IN Metro Area', 'Lake Charles, LA Metro Area', 'Lake Havasu City-Kingman, AZ Metro Area', 'Lakeland-Winter Haven, FL Metro Area', 'Lancaster, PA Metro Area', 'Lansing-East Lansing, MI Metro Area', 'Laredo, TX Metro Area', 'Las Cruces, NM Metro Area', 'Las Vegas-Henderson-Paradise, NV Metro Area', 'Lawrence, KS Metro Area', 'Lawton, OK Metro Area', 'Lebanon, PA Metro Area', 'Lewiston, ID-WA Metro Area', 'Lewiston-Auburn, ME Metro Area', 'Lexington-Fayette, KY Metro Area', 'Lima, OH Metro Area', 'Lincoln, NE Metro Area', 'Little Rock-North Little Rock-Conway, AR Metro Area', 'Logan, UT-ID Metro Area', 'Longview, TX Metro Area', 'Longview, WA Metro Area', 'Los Angeles-Long Beach-Anaheim, CA Metro Area', 'Louisville/Jefferson County, KY-IN Metro Area', 'Lubbock, TX Metro Area', 'Lynchburg, VA Metro Area', 'Macon-Bibb County, GA Metro Area', 'Madera, CA Metro Area', 'Madison, WI Metro Area', 'Manchester-Nashua, NH Metro Area', 'Manhattan, KS Metro Area', 'Mankato-North Mankato, MN Metro Area', 'Mansfield, OH Metro Area', 'McAllen-Edinburg-Mission, TX Metro Area', 'Medford, OR Metro Area', 'Memphis, TN-MS-AR Metro Area', 'Merced, CA Metro Area', 'Miami-Fort Lauderdale-West Palm Beach, FL Metro Area', 'Michigan City-La Porte, IN Metro Area', 'Midland, MI Metro Area', 'Midland, TX Metro Area', 'Milwaukee-Waukesha-West Allis, WI Metro Area', 'Minneapolis-St. Paul-Bloomington, MN-WI Metro Area', 'Missoula, MT Metro Area', 'Mobile, AL Metro Area', 'Modesto, CA Metro Area', 'Monroe, LA Metro Area', 'Monroe, MI Metro Area', 'Montgomery, AL Metro Area', 'Morgantown, WV Metro Area', 'Morristown, TN Metro Area', 'Mount Vernon-Anacortes, WA Metro Area', 'Muncie, IN Metro Area', 'Muskegon, MI Metro Area', 'Myrtle Beach-Conway-North Myrtle Beach, SC-NC Metro Area', 'Napa, CA Metro Area', 'Naples-Immokalee-Marco Island, FL Metro Area', 'Nashville-Davidson--Murfreesboro--Franklin, TN Metro Area', 'New Bern, NC Metro Area', 'New Haven-Milford, CT Metro Area', 'New Orleans-Metairie, LA Metro Area', 'New York-Newark-Jersey City, NY-NJ-PA Metro Area', 'Niles-Benton Harbor, MI Metro Area', 'North Port-Sarasota-Bradenton, FL Metro Area', 'Norwich-New London, CT Metro Area', 'Ocala, FL Metro Area', 'Ocean City, NJ Metro Area', 'Odessa, TX Metro Area', 'Ogden-Clearfield, UT Metro Area', 'Oklahoma City, OK Metro Area', 'Olympia-Tumwater, WA Metro Area', 'Omaha-Council Bluffs, NE-IA Metro Area', 'Orlando-Kissimmee-Sanford, FL Metro Area', 'Oshkosh-Neenah, WI Metro Area', 'Owensboro, KY Metro Area', 'Oxnard-Thousand Oaks-Ventura, CA Metro Area', 'Palm Bay-Melbourne-Titusville, FL Metro Area', 'Panama City, FL Metro Area', 'Parkersburg-Vienna, WV Metro Area', 'Pensacola-Ferry Pass-Brent, FL Metro Area', 'Peoria, IL Metro Area', 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD Metro Area', 'Phoenix-Mesa-Scottsdale, AZ Metro Area', 'Pine Bluff, AR Metro Area', 'Pittsburgh, PA Metro Area', 'Pittsfield, MA Metro Area', 'Pocatello, ID Metro Area', 'Portland-South Portland, ME Metro Area', 'Portland-Vancouver-Hillsboro, OR-WA Metro Area', 'Port St. Lucie, FL Metro Area', 'Prescott, AZ Metro Area', 'Providence-Warwick, RI-MA Metro Area', 'Provo-Orem, UT Metro Area', 'Pueblo, CO Metro Area', 'Punta Gorda, FL Metro Area', 'Racine, WI Metro Area', 'Raleigh, NC Metro Area', 'Rapid City, SD Metro Area', 'Reading, PA Metro Area', 'Redding, CA Metro Area', 'Reno, NV Metro Area', 'Richmond, VA Metro Area', 'Riverside-San Bernardino-Ontario, CA Metro Area', 'Roanoke, VA Metro Area', 'Rochester, MN Metro Area', 'Rochester, NY Metro Area', 'Rockford, IL Metro Area', 'Rocky Mount, NC Metro Area', 'Rome, GA Metro Area', 'Sacramento--Roseville--Arden-Arcade, CA Metro Area', 'Saginaw, MI Metro Area', 'St. Cloud, MN Metro Area', 'St. George, UT Metro Area', 'St. Joseph, MO-KS Metro Area', 'St. Louis, MO-IL Metro Area', 'Salem, OR Metro Area', 'Salinas, CA Metro Area', 'Salisbury, MD-DE Metro Area', 'Salt Lake City, UT Metro Area', 'San Angelo, TX Metro Area', 'San Antonio-New Braunfels, TX Metro Area', 'San Diego-Carlsbad, CA Metro Area', 'San Francisco-Oakland-Hayward, CA Metro Area', 'San Jose-Sunnyvale-Santa Clara, CA Metro Area', 'San Luis Obispo-Paso Robles-Arroyo Grande, CA Metro Area', 'Santa Cruz-Watsonville, CA Metro Area', 'Santa Fe, NM Metro Area', 'Santa Maria-Santa Barbara, CA Metro Area', 'Santa Rosa, CA Metro Area', 'Savannah, GA Metro Area', 'Scranton--Wilkes-Barre--Hazleton, PA Metro Area', 'Seattle-Tacoma-Bellevue, WA Metro Area', 'Sebastian-Vero Beach, FL Metro Area', 'Sebring, FL Metro Area', 'Sheboygan, WI Metro Area', 'Sherman-Denison, TX Metro Area', 'Shreveport-Bossier City, LA Metro Area', 'Sierra Vista-Douglas, AZ Metro Area', 'Sioux City, IA-NE-SD Metro Area', 'Sioux Falls, SD Metro Area', 'South Bend-Mishawaka, IN-MI Metro Area', 'Spartanburg, SC Metro Area', 'Spokane-Spokane Valley, WA Metro Area', 'Springfield, IL Metro Area', 'Springfield, MA Metro Area', 'Springfield, MO Metro Area', 'Springfield, OH Metro Area', 'State College, PA Metro Area', 'Staunton-Waynesboro, VA Metro Area', 'Stockton-Lodi, CA Metro Area', 'Sumter, SC Metro Area', 'Syracuse, NY Metro Area', 'Tallahassee, FL Metro Area', 'Tampa-St. Petersburg-Clearwater, FL Metro Area', 'Terre Haute, IN Metro Area', 'Texarkana, TX-AR Metro Area', 'The Villages, FL Metro Area', 'Toledo, OH Metro Area', 'Topeka, KS Metro Area', 'Trenton, NJ Metro Area', 'Tucson, AZ Metro Area', 'Tulsa, OK Metro Area', 'Tuscaloosa, AL Metro Area', 'Tyler, TX Metro Area', 'Urban Honolulu, HI Metro Area', 'Utica-Rome, NY Metro Area', 'Valdosta, GA Metro Area', 'Vallejo-Fairfield, CA Metro Area', 'Victoria, TX Metro Area', 'Vineland-Bridgeton, NJ Metro Area', 'Virginia Beach-Norfolk-Newport News, VA-NC Metro Area', 'Visalia-Porterville, CA Metro Area', 'Waco, TX Metro Area', 'Walla Walla, WA Metro Area', 'Warner Robins, GA Metro Area', 'Washington-Arlington-Alexandria, DC-VA-MD-WV Metro Area', 'Waterloo-Cedar Falls, IA Metro Area', 'Watertown-Fort Drum, NY Metro Area', 'Wausau, WI Metro Area', 'Weirton-Steubenville, WV-OH Metro Area', 'Wenatchee, WA Metro Area', 'Wheeling, WV-OH Metro Area', 'Wichita, KS Metro Area', 'Wichita Falls, TX Metro Area', 'Williamsport, PA Metro Area', 'Wilmington, NC Metro Area', 'Winchester, VA-WV Metro Area', 'Winston-Salem, NC Metro Area', 'Worcester, MA-CT Metro Area', 'Yakima, WA Metro Area', 'York-Hanover, PA Metro Area', 'Youngstown-Warren-Boardman, OH-PA Metro Area', 'Yuba City, CA Metro Area', 'Yuma, AZ Metro Area']
[183792.0, 603500.0, 131300.0, 94602.0, 796467.0, 788349.0, 132188.0, 663581.0, 95249.0, 243575.0, 177573.0, 411249.0, 454711.0, 96990.0, 184072.0, 319780.0, 256757.0, 4835196.0, 216563.0, 206307.0, 517891.0, 2030966.0, 895125.0, 2410213.0, 142117.0, 130239.0, 813141.0, 103397.0, 78960.0, 364916.0, 89934.0, 220730.0, 128022.0, 130356.0, 226270.0, 925035.0, 116639.0, 255336.0, 207756.0, 250227.0, 77914.0, 573951.0, 4363271.0, 353069.0, 172903.0, 251731.0, 718214.0, 359112.0, 84025.0, 971970.0, 123093.0, 219446.0, 95124.0, 300776.0, 466199.0, 91523.0, 139639.0, 43801.0, 73039.0, 220637.0, 110021.0, 335691.0, 159597.0, 702283.0, 1973748.0, 221420.0, 443263.0, 93916.0, 8350659.0, 236381.0, 1801694.0, 334276.0, 95768.0, 1598905.0, 114552.0, 402412.0, 715925.0, 230890.0, 780089.0, 321983.0, 69119.0, 1856800.0, 405115.0, 128526.0, 246524.0, 94807.0, 6217565.0, 118839.0, 60327.0, 139163.0, 302940.0, 680759.0, 114609.0, 82576.0, 448682.0, 2509898.0, 534156.0, 3385226.0, 108655.0, 154975.0, 84241.0, 253560.0, 523025.0, 136943.0, 165228.0, 178126.0, 130297.0, 164888.0, 69429.0, 835475.0, 53293.0, 244125.0, 350411.0, 255867.0, 134754.0, 279318.0, 110618.0, 464939.0, 496235.0, 172301.0, 309617.0, 155512.0, 118428.0, 77418.0, 363287.0, 221506.0, 347937.0, 936871.0, 75975.0, 376678.0, 158948.0, 77523.0, 97777.0, 110938.0, 131428.0, 66102.0, 130523.0, 945403.0, 53584.0, 75915.0, 259061.0, 257300.0, 617685.0, 201634.0, 739975.0, 329340.0, 209814.0, 121363.0, 175633.0, 465562.0, 149418.0, 1035911.0, 143864.0, 268267.0, 178373.0, 98944.0, 71819.0, 68873.0, 185038.0, 6021241.0, 278873.0, 377393.0, 114233.0, 1663272.0, 220523.0, 167131.0, 131147.0, 499535.0, 108442.0, 1239554.0, 379236.0, 126965.0, 132780.0, 168167.0, 102406.0, 119914.0, 147283.0, 122415.0, 338601.0, 93058.0, 1702236.0, 245244.0, 494365.0, 210612.0, 147508.0, 720229.0, 59981.0, 138178.0, 436496.0, 310456.0, 177393.0, 128303.0, 514042.0, 436593.0, 511910.0, 251681.0, 220226.0, 1839758.0, 179876.0, 151349.0, 102120.0, 47443.0, 82035.0, 497436.0, 93790.0, 364326.0, 641945.0, 157976.0, 184564.0, 75185.0, 12585318.0, 1039174.0, 373905.0, 238727.0, 183394.0, 131934.0, 661849.0, 330292.0, 185073.0, 128576.0, 99796.0, 755603.0, 156450.0, 1147277.0, 265704.0, 4884682.0, 96116.0, 67701.0, 168793.0, 1332849.0, 3031810.0, 129501.0, 348139.0, 482892.0, 154408.0, 108633.0, 324824.0, 193156.0, 85647.0, 92954.0, 131820.0, 138947.0, 295179.0, 114461.0, 227833.0, 1626558.0, 129870.0, 739454.0, 1086481.0, 17561652.0, 113848.0, 448138.0, 247704.0, 222562.0, 68015.0, 163287.0, 571617.0, 1272137.0, 228274.0, 795354.0, 2202653.0, 162169.0, 88182.0, 738015.0, 398211.0, 175003.0, 63932.0, 464343.0, 296029.0, 5213993.0, 4047594.0, 86060.0, 1891263.0, 95375.0, 81776.0, 399789.0, 2043366.0, 301252.0, 134573.0, 1407488.0, 672187.0, 134030.0, 84756.0, 148389.0, 1077701.0, 124120.0, 340209.0, 138017.0, 399782.0, 1084296.0, 4177182.0, 232094.0, 165626.0, 937864.0, 258649.0, 107567.0, 79691.0, 2005849.0, 158682.0, 201051.0, 121178.0, 118630.0, 2287030.0, 356767.0, 423593.0, 303629.0, 1121215.0, 128756.0, 2237669.0, 3454324.0, 4111438.0, 1811157.0, 307223.0, 284486.0, 103031.0, 501523.0, 408723.0, 370009.0, 451352.0, 3466838.0, 87614.0, 59711.0, 86896.0, 96977.0, 378839.0, 108995.0, 134915.0, 223205.0, 272768.0, 262246.0, 481866.0, 158815.0, 607890.0, 424664.0, 99971.0, 262252.0, 90033.0, 643312.0, 98461.0, 578821.0, 461792.0, 2289324.0, 168733.0, 123588.0, 45593.0, 550238.0, 170735.0, 337904.0, 940944.0, 815261.0, 269520.0, 191518.0, 976117.0, 246429.0, 165786.0, 395812.0, 83762.0, 143493.0, 1752213.0, 428061.0, 269685.0, 63683.0, 169003.0, 5350262.0, 169513.0, 146685.0, 102364.0, 85125.0, 91123.0, 109690.0, 549948.0, 169331.0, 99180.0, 250397.0, 102088.0, 490989.0, 784600.0, 214739.0, 337205.0, 409884.0, 154255.0, 207399.0]

In [0]:
df=pd.DataFrame()
df['metro_area']=metro_area_name_list
df['PARAM1_pop_in_target_income']=income_list
df['PARAM2_pop_in_target_age']=age_list
df['PARAM3_pop_hispanic']=hispanic_list
df['metro_area_total_pop']=metro_area_total_population
df.head(4)

               metro_area  ...  metro_area_total_pop
0  Abilene, TX Metro Area  ...              169000.0
1    Akron, OH Metro Area  ...              703398.0
2   Albany, GA Metro Area  ...              153776.0
3   Albany, OR Metro Area  ...              121074.0

[4 rows x 5 columns]

#Question 1: City with the Highest Population in our Target Income

In [0]:
df.sort_values(by=['PARAM1_pop_in_target_income'],ascending=False).head(1)

                                           metro_area  ...  metro_area_total_pop
249  New York-Newark-Jersey City, NY-NJ-PA Metro Area  ...            20192042.0

[1 rows x 5 columns]

#Question 2: City with the Highest Population in our Target Age Range

In [0]:
df.sort_values(by=['PARAM2_pop_in_target_age'],ascending=False).head(1)

                                           metro_area  ...  metro_area_total_pop
249  New York-Newark-Jersey City, NY-NJ-PA Metro Area  ...            20192042.0

[1 rows x 5 columns]

#Question 3: City with the Highest Hispanic Population

In [0]:
df.sort_values(by=['PARAM3_pop_hispanic'],ascending=False).head(1)

                                        metro_area  ...  metro_area_total_pop
210  Los Angeles-Long Beach-Anaheim, CA Metro Area  ...            13261538.0

[1 rows x 5 columns]

# Calculate the proportion of the population reperesented by our target demographics

In [0]:
# we calculate the proportion of the population represented by our target market
# by didviding our target market population total by the metro area population
# we do this for each of our targeting parameters
df['income_percent']=df['PARAM1_pop_in_target_income']/df['metro_area_total_pop']
df['age_percent']=df['PARAM2_pop_in_target_age']/df['metro_area_total_pop']
df['hispanic_percent']=df['PARAM3_pop_hispanic']/df['metro_area_total_pop']
# We print out this data to view the results
df.head(3)

               metro_area  ...  hispanic_percent
0  Abilene, TX Metro Area  ...          0.230130
1    Akron, OH Metro Area  ...          0.018934
2   Albany, GA Metro Area  ...          0.026383

[3 rows x 8 columns]

In [0]:
# We notice that some of the percentages are incorrect as they are greater that 1 (more than 100%);
# Therefore, we subset the data so we only include metro areas where the proportions are acurate (where the proportions are <=1)
df=df[df['income_percent']<=1]
df=df[df['age_percent']<=1]
df=df[df['hispanic_percent']<=1]

# Finally, we can create a column with our mean percentage across all three categories 
# using a simple average of the three proportion columns we just created.
df['mean_target_percent']=(df['income_percent']+df['age_percent']+df['hispanic_percent'])/3

## View the edited data frame
df.head(3)

              metro_area  ...  mean_target_percent
1   Akron, OH Metro Area  ...             0.317158
2  Albany, GA Metro Area  ...             0.314063
3  Albany, OR Metro Area  ...             0.314843

[3 rows x 9 columns]

#Question 4: City with the highest mean percentage across all three caregories

We can now sort our data frame by the mean_target_percent column to find the metro are with the highest average target population proportion. This may not be the best metric for as doing a simple average of percentages like this does treats all of our parameters the same; we may want to use a weighted average that scales the percentages before averaging based on the degree to which we prioritize each targeting parameter. Secondly, people could belong to multiple if not all of the of the demographic targeting filter we are using here; by using this method, we could create statistics that do not reflect the true in market population proportion.None the less, when we perform this calculation, we find that Jacksonville NC has the highest mean percentage across all three categories.

In [0]:
df.sort_values(by=['mean_target_percent'],ascending=False).head(1)

                metro_area  ...  mean_target_percent
195  Laredo, TX Metro Area  ...             0.643641

[1 rows x 9 columns]